h1, h2, h3, h4, h5, h6, a{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

html, body, section{
  display: block;
  margin: 0px;
  width: 100%;
  padding: 0px;
}

ul{
  margin: 0px;
}

.container{
  width: 80%;
  margin: auto;
}

section{
  padding: 30px 0px;
}

/*NAVIGATION */
nav{
  height: 80px;
  background-color: black;
  width: 100%;
}

nav h1{
  color: white;
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 1em;
}

nav ul{
  color: white;
  float: right;
  list-style-type: none;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

nav ul a{
  display: inline-block;
  text-decoration: none;
  color: white;
  margin: 0px 20px;
  vertical-align: top;
}

/*Header*/
#header{
  height: 300px;
  text-align: center;
  background-image: url('../images/header.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#header-content{
  width: 80%;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#header-content h1{
  font-size: 60px;
}

#header-content h4{
  font-size: 40px;
  font-weight: 300;
}

#header-content h1, #header-content h4{
  color: white;
}

/* Icons */
.icons-content{
  display: flex;
  justify-content: center;
}

.icon-item{
  width: 30%;
  text-align: center;
  padding: 20px 0px;
}

.icon-item img{
  width: 100px;
  height: 100px;
}

.icon-item h3{
  padding: 30px 0px;
  font-weight: 300;
}
